language: java

sudo: false

env:
  global:
    - secure: "m3SDmm4eeTd0n4IeraLOtsvPisCyepmMgW/pgx7tvpxrFoGaHJjXiYC4uj50nktIzkbe899HZBsCwd+G3HD7EmgvksBqIwT3FFSh4fwCrvdFMGxZ2i/E6vd2yNhucb+EbXu7OtCWvVzmKjbkORxTljOra7paXV0DRxbVbEss+As="

script: mvn -e -fae -B install site

jdk:
  - oraclejdk8

cache:
  directories:
  - $HOME/.m2

after_success:
  - if [ "$TRAVIS_REPO_SLUG" == "mprins/maven-compass-example" ] &&
       [ "$TRAVIS_PULL_REQUEST" == "false" ] && [ "$TRAVIS_BRANCH" == "master" ]; then
          mvn -e -fae -B compile site-deploy;
    else
          echo -n "not deploying maven site";
    fi
