language: java

sudo: false

env:
  global:
    - secure: "ZUWmLfRxoNhxg6YQDRirZYHcv7OH6EKpgQJpRWoxsF1MMNTlnH7XMkiev3d0J5lppe00gi8Guf90XNGHcfe9X/125cYiMQSjRRt6PkiYL8og8+lip4HDfihuXN2h6BcRrBZ7dm5izeSGVzw0GEg0yyav0oqoqLpyzQaZssjXgDY="

script: 
  - mvn -V -e -fae -B install
  - mvn -V -e -fae -B site

jdk:
  - oraclejdk8

cache:
  directories:
  - $HOME/.m2

after_success:
  - if [ "$TRAVIS_REPO_SLUG" == "mprins/maven-compass-example" ] &&
       [ "$TRAVIS_PULL_REQUEST" == "false" ] && [ "$TRAVIS_BRANCH" == "master" ]; then
          mvn -e -fae -B compile site-deploy --settings .travis/settings.xml;
    else
          echo -n "not deploying maven site";
    fi
